.home-container {
 margin-bottom: 200px;
}

.home-img {
  /* Add your styles for the image */
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.image-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 38px;
  text-align: center;

}





