
.home-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 60vh;
  }

  .home-body{
   
   
 

   

    
    
  }
  .home-header{

    color: black;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .home-content{
    margin-left: 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;


  }
  .home-img{
    margin-left: 20px;


  }
  .title-link{

    background-color: orangered;
    color: wheat;
    text-decoration: none;
    margin-left: 150px;
   
    border-radius: 64px;
    padding: 10px 20px;
    
  }
  