/* More.css */

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}

.card {
  width: 20rem;
  height: 300px; 
  margin-bottom: 20px;
  margin: 50px;
  padding: 30px;
  transition: transform 0.3s ease; 
}
.card:hover {
  transform: scale(1.1); 
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-number{

  color: white;
  background-color: blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-top: 30px;


}
.card-title{

  margin-top: 10px;
}
.card-text{
  font-family: Georgia, 'Times New Roman', Times, serif;

  margin-top: 5px;
  font-size: 15px;
}