.quizpage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 80px;
  margin-top: 50px;
}

.quiz-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.topic {
  margin-bottom: 30px;
}

.subtopic {
  margin-left: 20px;
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
}

.answers {
  list-style: none;
  padding: 10;
  
}

.answers li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  
}

.radio-btn {
 
  padding: 10px;
  margin: 2px 0;
  background-color: white;
  border: 1px solid orange;
  border-radius: 16px;
}

.radio-btn input {
  margin-right: 5px;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 12px;
  margin-left: 300px;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination-buttons :hover {
  background-color: white;
  color: darkorange;
}

.pagination-btn {
  background-color: darkorange;
  color: black;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  height: 40px;
  width: 150px;
}

.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.quiz-img {
  height: 250px;
  width: 400px;
  object-fit: cover;
}

/* .quizpage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  
   margin-bottom: 80px;
   margin-top: 50px;
  
  }
  
  .quiz-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .topic{

    margin-bottom: 30px;



  }
  .subtopic{
    margin-left: 20px;


  }
  
  .question {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .answers {
    list-style: none;
    padding: 0;
  }
  
  .answers li {
    margin-bottom: 10px;
  }
  
  .submit-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px;
    margin-left: 300px;
    
  }
  
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
  }
  .pagination-buttons :hover{

    background-color: white;
    color: darkorange;
  }
  
  .pagination-btn {
    background-color: darkorange;
    color: black;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 40px;
    width: 150px;
  }
  
  .pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .radio-btn{
    border: 1px solid orange;
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
    background-color: white;


  
  }

  .quiz-img{

    height: 250px;
    width: 400px;
    object-fit: cover;
  }
   

  */