
.title-header {
    color: grey;
    margin: 100px 30px 30px 400px;
}


.Quiz-title {
    list-style: none;
    padding: 0;
}


.quiz-list {
    margin: 10px;
    padding: 10px;
    width: 50vw;
    margin-left: 300px;
    background-color: #f5f5f5; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.quiz-list a {
    text-decoration: none; 
    color: #333; 
    font-size: 20px;
    display: block; 
    padding: 20px;
    transition: background-color 0.3s; 
}


.quiz-list a:hover {
    background-color: #e0e0e0; 
}

